:host {

    input[type=checkbox]+label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
    }

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]+label:before {
        content: "\2714";
        border: 0.1em solid #000;
        border-radius: 0.2em;
        display: inline-block;
        width: 2em;
        height: 1em;
        padding-left: 0.2em;
        padding-bottom: 2em;
        margin-right: 3.2em;
        vertical-align: bottom;
        color: transparent;
        transition: 0.3s;
    }

    input[type=checkbox]+label:active:before {
        transform: scale(0);
    }

    input[type=checkbox]:checked+label:before {
        background-color: MediumSeaGreen;
        border-color: rgb(0, 0, 0);
        color: #fff;
    }

    input[type=checkbox]:disabled+label:before {
        transform: scale(1);
        border-color: #aaaaaa36;
    }

    input[type=checkbox]:checked:disabled+label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }


    /* --- For the FIRST sticky column --- */
    .table-responsive th:first-child,
    .table-responsive td:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
        /* A higher z-index ensures it's on top */
        background-color: #fff;
        /* Match your table's background */

        /* Set a defined width for the first column */
        min-width: 150px;
    }

    /* --- For the SECOND sticky column --- */
    .table-responsive th:nth-child(2),
    .table-responsive td:nth-child(2) {
        position: sticky;
        /* The left offset MUST be the width of the first column */
        left: 150px;
        z-index: 1;
        background-color: #fff;
        /* Match your table's background */
    }
}